<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 50px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: #ccc;
    }
  </style>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create Users</a>
      <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>


    <div style="padding: 16px">
    
    <table>

      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
      </tr>
      

     
    </table>
</div>

  

  </body>
</html>
